//
// Component: Button
//
// ========================================================================


// Variables
// ========================================================================

$button-line-height:                             $global-control-height - ($button-border-width * 2);
$button-small-line-height:                       $global-control-small-height - ($button-border-width * 2);
$button-large-line-height:                       $global-control-large-height - ($button-border-width * 2);

$button-font-size:                               $global-small-font-size;
$button-large-font-size:                         $global-small-font-size;

$button-default-background:                      transparent;
$button-default-hover-background:                transparent;
$button-default-active-background:               transparent;

$button-disabled-background:                     transparent;

$button-text-color:                              $global-emphasis-color;
$button-text-hover-color:                        $global-emphasis-color;

//
// New
//

$button-text-transform:                          uppercase;

$button-border-width:                            $global-border-width;

$button-default-border:                          $border-light-gray;
$button-default-hover-border:                    $border-dark-gray;
$button-default-active-border:                   darken($global-border, 30%);

$button-disabled-border:                         $global-border;

$button-text-border-width:                       $global-border-width;
$button-text-border:                             $button-text-hover-color;


// Component
// ========================================================================



// @mixin hook-button-hover(){}

// @mixin hook-button-focus(){}

// @mixin hook-button-active(){}


// Style modifiers
// ========================================================================

.uk-button {
    font-family: $secondary-font-family;

    &.uk-button-default {
        border: $global-border-width solid $button-default-border;

        &:hover {
            border: $global-border-width solid $button-default-hover-border;
        }
    }
}






//
// Primary
//



// @mixin hook-button-primary-hover(){}

// @mixin hook-button-primary-active(){}

//
// Secondary
//



// @mixin hook-button-secondary-hover(){}

// @mixin hook-button-secondary-active(){}

//
// Danger
//



// @mixin hook-button-danger-hover(){}

// @mixin hook-button-danger-active(){}


// Disabled
// ========================================================================




// Size modifiers
// ========================================================================

// @mixin hook-button-small(){}

// @mixin hook-button-large(){}


// Text modifier
// ========================================================================








// Link modifier
// ========================================================================

// @mixin hook-button-link(){}


// Miscellaneous
// ========================================================================




// Inverse
// ========================================================================

$inverse-button-default-background:             transparent;
$inverse-button-default-color:                  $inverse-global-emphasis-color;
$inverse-button-default-hover-background:       transparent;
$inverse-button-default-hover-color:            $inverse-global-emphasis-color;
$inverse-button-default-active-background:      transparent;
$inverse-button-default-active-color:           $inverse-global-emphasis-color;

$inverse-button-text-color:                     $inverse-global-emphasis-color;
$inverse-button-text-hover-color:               $inverse-global-emphasis-color;





// @mixin hook-inverse-button-primary(){}
// @mixin hook-inverse-button-primary-hover(){}
// @mixin hook-inverse-button-primary-active(){}

// @mixin hook-inverse-button-secondary(){}
// @mixin hook-inverse-button-secondary-hover(){}
// @mixin hook-inverse-button-secondary-active(){}


// @mixin hook-inverse-button-text-hover(){}
// @mixin hook-inverse-button-text-disabled(){}

// @mixin hook-inverse-button-link(){}
