//
// Component: Card
//
// ========================================================================


// Variables
// ========================================================================

$card-hover-background:                         $global-background !default;

$card-default-background:                       $global-background !default;
$card-default-hover-background:                 $card-default-background !default;

$card-primary-hover-background:                 $card-primary-background !default;

$card-secondary-hover-background:               $card-secondary-background !default;

//
// New
//

$card-hover-box-shadow:                         $global-large-box-shadow !default;

$card-default-box-shadow:                       $global-medium-box-shadow !default;
$card-default-hover-box-shadow:                 $global-large-box-shadow !default;

$card-default-header-border-width:              $global-border-width !default;
$card-default-header-border:                    $global-border !default;

$card-default-footer-border-width:              $global-border-width !default;
$card-default-footer-border:                    $global-border !default;

$card-primary-box-shadow:                       $global-medium-box-shadow !default;
$card-primary-hover-box-shadow:                 $global-large-box-shadow !default;

$card-secondary-box-shadow:                     $global-medium-box-shadow !default;
$card-secondary-hover-box-shadow:               $global-large-box-shadow !default;


// Component
// ========================================================================

@media (min-width: $breakpoint-small) {
    .pp-card-overlap-container {
        background: none;
        
        .uk-first-column {
            width: 55%;
        }

        .pp-card-overlap-right {
            margin-left: -10%;
            z-index: 99;
            background-color: #fff;
        }
    }
}

.pp-card-overlap-container .pp-card-overlap-right {
    .uk-card-body {
        padding: $global-large-gutter;
    }
}

@media (max-width: $breakpoint-medium-max) and (min-width: $breakpoint-small) {
    .pp-card-overlap-container {
        text-align: center;

        .uk-first-column {
            width: 100%;
        }

        .pp-card-overlap-right {
            margin: -24% auto 0;
            width: 80%;
        }
    }
}

.pp-card-overlay {
    background: none;

    .pp-img-container {
        overflow: hidden;

        > img {
            margin-left: 1.5rem;
        }
    }

    .uk-overlay {
        background-color: #fff;
        padding: 1.5rem 2.5rem;

        .pp-overlay-text {
            line-height: 36px;
        }
    }

    .pp-sub-title {
        font-size: $secondary-small-font-size;
        color: $heading-dark-gray;
        font-weight: 700;
    }

    .uk-card-body {
        background-color: #fff;
        box-shadow: $global-box-shadow-center;

        .pp-card-negative-margin {
            margin-top: -120px;
            background-color: #fff;
        }

        .pp-card-partial-width {
            width: 75%;
        }
    }
}



// Sections
// ========================================================================

// @mixin hook-card-body(){}

// @mixin hook-card-header(){}

// @mixin hook-card-footer(){}


// Media
// ========================================================================

// @mixin hook-card-media(){}

// @mixin hook-card-media-top(){}

// @mixin hook-card-media-bottom(){}

// @mixin hook-card-media-left(){}

// @mixin hook-card-media-right(){}


// Title
// ========================================================================

// @mixin hook-card-title(){}


// Badge
// ========================================================================

// @mixin hook-card-badge(){}


// Hover modifier
// ========================================================================




// Style modifiers
// ========================================================================



// @mixin hook-card-default-title(){}







//
// Primary
//



// @mixin hook-card-primary-title(){}



//
// Secondary
//



// @mixin hook-card-secondary-title(){}




// Miscellaneous
// ========================================================================
