@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=e9d936cc-bae7-4da9-8bcb-527724478b3b");
@font-face {
    font-family: "Century Schoolbook W01";
    src: url("fonts/1819f77b-68c0-4675-9d33-1f121bb2cdcd.eot?#iefix");
    src: url("fonts/1819f77b-68c0-4675-9d33-1f121bb2cdcd.eot?#iefix") format("eot"), url("fonts/3a5e1390-7cce-4a9b-bb4a-340024804c37.woff") format("woff"), url("fonts/ebb84a1a-7994-400b-a4fc-05a333d0312f.ttf") format("truetype"), url("fonts/aa01bc28-794b-4675-ba26-d397b9cfd2cf.svg#aa01bc28-794b-4675-ba26-d397b9cfd2cf") format("svg");
}

@font-face {
    font-family: "CenturySchlbkMTW01-Ital";
    src: url("fonts/0ba0a615-1b88-4002-aeba-f6437aaa5b9b.eot?#iefix");
    src: url("fonts/0ba0a615-1b88-4002-aeba-f6437aaa5b9b.eot?#iefix") format("eot"), url("Fonts/b82e0985-e24d-423f-b62c-79b9c9ae6f2f.woff2") format("woff2"), url("fonts/9c7506a4-33b5-4ca5-9038-77f1a5e264c3.woff") format("woff"), url("fonts/8ef7f238-14e9-4635-88e4-8dbf30dabc24.ttf") format("truetype"), url("fonts/6b81cd51-9455-417b-9cf6-771b985c1dda.svg#6b81cd51-9455-417b-9cf6-771b985c1dda") format("svg");
}

@font-face {
    font-family: "Proxima N W01 Bold";
    src: url("fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
    src: url("fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"), url("fonts/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"), url("fonts/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"), url("fonts/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
}

@font-face {
    font-family: "HelveticaNeueW01-55Roma";
    src: url("fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
    src: url("fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"), url("fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"), url("fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"), url("fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}

@font-face {
    font-family: "HelveticaNeueW01-75Bold";
    src: url("fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
    src: url("fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"), url("fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"), url("fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"), url("fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}

@font-face {
    font-family: 'fffplayer';
    src: url('fonts/fffplayer.eot?aevfis');
    src: url('fonts/fffplayer.eot?aevfis#iefix') format('embedded-opentype'), url('fonts/fffplayer.ttf?aevfis') format('truetype'), url('fonts/fffplayer.woff?aevfis') format('woff'), url('fonts/fffplayer.svg?aevfis#fffplayer') format('svg');
    font-weight: normal;
    font-style: normal;
}
