//
// Component: Dotnav
//
// ========================================================================


// Variables
// ========================================================================

$dotnav-item-background:                              transparent !default;
$dotnav-item-width:                              15px;
$dotnav-item-height:                             15px;

//
// New
//

$dotnav-item-border-width:                            0px !default;

$dotnav-item-border:                                  rgba($global-color, 0.4) !default;
$dotnav-item-hover-border:                            transparent !default;
$dotnav-item-onclick-border:                          transparent !default;
$dotnav-item-active-border:                           transparent !default;


// Component
// ========================================================================
.uk-dotnav {
    > .uk-active > * {
        border: 5px solid $element-blue;
    }

    > * > * {
        width: $dotnav-item-width;
        height: $dotnav-item-height;
        background-color: white;
    }
}
// @mixin hook-dotnav(){}










// Miscellaneous
// ========================================================================

// @mixin hook-dotnav-misc(){}


// Inverse
// ========================================================================

$inverse-dotnav-item-background:                      transparent !default;

// @mixin hook-inverse-dotnav(){}
