//
// Component: Form
//
// ========================================================================


// Variables
// ========================================================================

$form-line-height:                               $form-height - (2* $form-border-width) !default;

$form-background:                                $global-background !default;
$form-focus-background:                          $global-background !default;

$form-small-line-height:                         $form-small-height - (2* $form-border-width) !default;
$form-large-line-height:                         $form-large-height - (2* $form-border-width) !default;

$form-radio-background:                          transparent !default;

$form-stacked-margin-bottom:                     5px !default;

//
// New
//

$form-border-width:                              $global-border-width !default;
$form-border:                                    $global-border !default;

$form-focus-border:                              $global-primary-background !default;

$form-disabled-border:                           $global-border !default;

$form-danger-border:                             $global-danger-background !default;
$form-success-border:                            $global-success-background !default;

$form-blank-focus-border:                        $global-border !default;
$form-blank-focus-border-style:                  dashed !default;

$form-radio-border-width:                        $global-border-width !default;
$form-radio-border:                              darken($global-border, 10%) !default;

$form-radio-focus-border:                        $global-primary-background !default;

$form-radio-checked-border:                      transparent !default;

$form-radio-disabled-border:                     $global-border !default;

$form-label-color:                               $global-emphasis-color !default;
$form-label-font-size:                           $global-small-font-size !default;


// Component
// ========================================================================
.pp-form-container {
    .uk-input, &.uk-input:focus {
        color: #fff;
        border: none;
        border-bottom: 1px solid $heading-dark-gray;
        text-transform: uppercase;
        padding-left: 0;
        background: none;
        font-weight: bold;
    }

    ::placeholder {
        color: #fff;
        text-transform: uppercase;
    }
}


/* @group Contact Form */

fieldset {
    border: none;
    
    ::-webkit-input-placeholder {
        color: #add2de !important;
        font-size: 13px !important;
        text-transform: uppercase;
        font-family: "HelveticaNeueW01-75Bold";
        /*font-family:"HelveticaNeueW01-55Roma";*/
        background-color: transparent !important;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: #add2de !important;
        font-size: 13px !important;
        text-transform: uppercase;
        font-family: "HelveticaNeueW01-75Bold";
        background-color: transparent !important;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #add2de !important;
        font-size: 13px !important;
        text-transform: uppercase;
        font-family: "HelveticaNeueW01-75Bold";
        background-color: transparent !important;
    }

    :-ms-input-placeholder {
        color: #add2de !important;
        font-size: 13px !important;
        text-transform: uppercase;
        font-family: "HelveticaNeueW01-75Bold";
        background-color: transparent !important;
    }
}

.frm_forms input[type=text],
.frm_forms textarea,
.chimp-form input[type=text],
.chimp-form input[type=email] {
    border: none !important;
    border-bottom: 1px solid #d7d7d7 !important;
    padding-bottom: 10px;
    font-family: "HelveticaNeueW01-55Roma";
    font-size: 18px;
}

.chimp-form .response {
    margin-bottom: 10px;
}

.frm_forms textarea {
    min-height: 115px;
}

.frm_first_half input,
.frm_last_half input,
.frm_last_half select,
.frm_first_half select {
    width: 100%;
}

input.frm_default,
textarea.frm_default {
    color: #add2de !important;
    font-size: 13px !important;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal !important;
    background-color: transparent !important;
}

.with_frm_style .form-field,
.with_frm_style,
.frm_form_field {
    margin-bottom: 25px !important;
}

.frm_checkbox label {
    font-size: 13px !important;
    line-height: 1.35em !important;
    color: #898989;
}

div.frm_error_style,
.with_frm_style .frm_message,
.with_frm_style .frm_message p {
    padding: 0px !important;
    margin-bottom: 20px !important;
    background-color: transparent !important;
    /*color: #686868 !important;*/
    font-size: 15px !important;
    border: none !important;
}

div.frm_error {
    margin-top: 5px !important;
    color: #92220f !important;
    font-size: 15px;
}

.frm_form_field.frm_left_half,
.frm_form_field.frm_right_half,
.frm_form_field.frm_first_half,
.frm_form_field.frm_last_half,
.frm_form_field.frm_half,
.frm_submit.frm_half {
    width: 46.75% !important;
}




/* @end */



// @mixin hook-form-single-line(){}

// @mixin hook-form-multi-line(){}






// Style modifiers
// ========================================================================










// Radio and checkbox
// ========================================================================







// @mixin hook-form-radio-checked-focus(){}




// Legend
// ========================================================================

// @mixin hook-form-legend(){}


// Label
// ========================================================================




// Layout
// ========================================================================

// @mixin hook-form-stacked-label(){}

// @mixin hook-form-horizontal-label(){}


// Miscellaneous
// ========================================================================

// @mixin hook-form-misc(){}


// Inverse
// ========================================================================

$inverse-form-label-color:                       $inverse-global-emphasis-color !default;








// @mixin hook-inverse-form-radio-checked-focus(){}
