//
// Component: Overlay
//
// ========================================================================


// Variables
// ========================================================================


// Component
// ========================================================================
.pp-cards-alternating-align {
    .uk-overlay {
        background-color: #fff;
    }

    .pp-overlay-align {
        > div, > a {
            box-shadow: $global-box-shadow-center;
            transition: all .25s ease-out;
            &:hover{
                box-shadow: $global-box-shadow-center-hover;
                transform: scale(1.015);
            }
        }

        .uk-overlay {
            margin-right: 55px;
            text-align: left;
        }
    }

    @media (min-width: $breakpoint-medium) {
        .pp-overlay-align:nth-child(odd) {
            .uk-overlay {
                margin-left: 55px;
                margin-right: 0;
                text-align: right;
                @media (min-width: $breakpoint-large){
                    margin-left: 84px;
                }
                @media (min-width: $breakpoint-medium){
                    p{
                        float: right;
                    }
                }
            }
        }

        .pp-overlay-align:nth-child(even) {
            .uk-overlay {
                margin-right: 55px;
                text-align: left;
                @media (min-width: $breakpoint-large){
                    margin-right: 84px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-small-max) {
    .pp-header-contact {
        
        top: 25%;
        
        @media (max-width: 640px){
            top: 20%;
        }
        
        @media (max-width: 405px){
            top: 15%
        }
        
        
        margin-right: 0!important;
        width: 100%;
        right: auto;
        
        > div {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;

            .pp-social-media-buttons {
                margin-top: 3px;
            }
        }
    }
}

// @mixin hook-overlay(){}

// Icon
// ========================================================================

// @mixin hook-overlay-icon(){}


// Style modifiers
// ========================================================================

// @mixin hook-overlay-default(){}

// @mixin hook-overlay-primary(){}


// Miscellaneous
// ========================================================================

// @mixin hook-overlay-misc(){}
