//
// Component: Section
//
// ========================================================================
.pp-grey-section {
    background-color: $background-gray !important;
}

.pp-gold-section {
    background-color: $newsletter-gold;
}

.pp-dark-section {
    background-color: $heading-dark-gray;
}


// Variables
// ========================================================================


// Component
// ========================================================================

// @mixin hook-section(){}


// Style modifiers
// ========================================================================

// @mixin hook-section-default(){}

// @mixin hook-section-muted(){}

// @mixin hook-section-primary(){}

// @mixin hook-section-secondary(){}


// Miscellaneous
// ========================================================================

// @mixin hook-section-misc(){}
