//
// Component: Slidenav
//
// ========================================================================


// Variables
// ========================================================================


// Component
// ========================================================================
.pp-slidenav-group {
    top: 40px;
    right: 0;
    position: absolute;

    .uk-h1 {
        display: inline;
    }

    a {
        background-color: #000;
        width: 36px;
        height: 36px;
        padding: 0;
        border-radius: 50%;
        position: relative;

        svg {
            position: absolute;
            height: 13px;
            left: 31%;
            top: 10px;
            color: white;

            polyline {
                stroke-width: 5px;
            }
        }
    }
}


// @mixin hook-slidenav-hover(){}

// @mixin hook-slidenav-active(){}


// Icon modifier
// ========================================================================

// @mixin hook-slidenav-previous(){}

// @mixin hook-slidenav-next(){}


// Size modifier
// ========================================================================

// @mixin hook-slidenav-large(){}


// Container
// ========================================================================

// @mixin hook-slidenav-container(){}


// Miscellaneous
// ========================================================================

// @mixin hook-icon-misc(){}


// Inverse
// ========================================================================

// @mixin hook-inverse-slidenav(){}
// @mixin hook-inverse-slidenav-hover(){}
// @mixin hook-inverse-slidenav-active(){}
