//
// Component: Slidenav
//
// ========================================================================


// Variables
// ========================================================================


// Component
// ========================================================================
.pp-slidenav-group {
    top: 40px;
    right: 0;
    position: absolute;

    @media (max-width: $breakpoint-small-max) {
        top: 20px;
        margin-right: 20px !important;
    }

    .uk-h1 {
        display: inline;
        font-size: 3rem !important;
        @media (max-width: $breakpoint-small-max){
            vertical-align: super;
            font-size: 2.25rem !important;
        }
    }
    .uk-active > a{
        background-color: transparent;
    }

    a {
        background-color: $global-emphasis-color;
        width: 36px;
        height: 36px;
        padding: 0;
        border-radius: 50%;
        position: relative;
        
        svg {
            position: absolute;
            height: 13px;
            left: 31%;
            top: 12px;
            color: white;
            
            
            polyline {
                stroke-width: 2px;
            }
        }
        margin-right: 7px !important;
        &.uk-slidenav-next{
            margin-right: 0;
            svg{
                left: 33% !important;
            }
        }
    }
}

.uk-slidenav {
    visibility: visible !important;
    @extend %fast-transition;
    &.uk-invisible {
        opacity: .5;
    }
}

// @mixin hook-slidenav-hover(){}

// @mixin hook-slidenav-hover(){}

// @mixin hook-slidenav-active(){}


// Icon modifier
// ========================================================================

// @mixin hook-slidenav-previous(){}

// @mixin hook-slidenav-next(){}


// Size modifier
// ========================================================================

// @mixin hook-slidenav-large(){}


// Container
// ========================================================================

// @mixin hook-slidenav-container(){}


// Miscellaneous
// ========================================================================

// @mixin hook-icon-misc(){}


// Inverse
// ========================================================================

// @mixin hook-inverse-slidenav(){}
// @mixin hook-inverse-slidenav-hover(){}
// @mixin hook-inverse-slidenav-active(){}
