//
// Component: Utility
//
// ========================================================================


// Variables
// ========================================================================


// Panel
// ========================================================================

// @mixin hook-panel-scrollable(){}

.box-shadow-none {
    box-shadow: none;
}

// Box-shadow center
// ========================================================================
.box-shadow-center {
    box-shadow: $global-box-shadow-center;
}

// Box-shadow left
// ========================================================================
.box-shadow-left {
    box-shadow: $global-box-shadow-left;
}

// @mixin hook-box-shadow-bottom(){}


// Drop cap
// ========================================================================




// Logo
// ========================================================================

// @mixin hook-logo(){}

// @mixin hook-logo-hover(){}


// Miscellaneous
// ========================================================================

// @mixin hook-utility-misc(){}


// Inverse
// ========================================================================

// @mixin hook-inverse-dropcap(){}

// @mixin hook-inverse-logo(){}
// @mixin hook-inverse-logo-hover(){}
